body{
	margin: 0;
	font-family: Helvetica;

}


header{
	background-color: green;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px
}


header h1{
	color: white;
	font-family: 'Itim', cursive;
	font-size: 40px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: solid;
}